* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("https://images.pexels.com/photos/2078126/pexels-photo-2078126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-attachment: fixed;
  -o-background-size: auto;
  background-size: auto;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}
#logo {
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  color: azure;
}

h1 {
  text-align: center;
  width: 15em;
  margin: auto;
  color: azure;
  font-size: 3em;
}
#container {
  width: 70vw;
  margin: auto;
  
}

form {
  display: flex;
  margin-top:20px;
  align-items: center;
  flex-direction: column;
  margin: auto;
  color: azure;
  font-size: large;
}

input[type="text"],
select {
  width: 70%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
}