* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("https://images.pexels.com/photos/2078126/pexels-photo-2078126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-attachment: fixed;
  -o-background-size: auto;
  background-size: auto;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

form {
  display: inline-block;
  color: azure;
  position: absolute;
  margin: 30px;
  padding: 200px;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}