

body {
  background-color: black;
  background-image: url("https://images.pexels.com/photos/2078126/pexels-photo-2078126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-attachment: fixed;
  -o-background-size: cover;
  background-size: auto;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  object-fit: scale-down;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
}
#logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  color: azure;
}

img {
  display: flex;
  width: 250px;
  height: 250px;
}

p {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  font-weight: 10;
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px 15px 30px 30px;
  padding: 100px;
}
a {
  
  padding: 15px 15px;
  display: flex;
  flex-direction: rows;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

li {
  display: grid;
  grid-template-columns: 3/2;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  margin: 15px;
  font-size: 1.5em;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
