html {
  background-image: url("https://images.unsplash.com/photo-1547410295-8896a496c27a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;
  
  /* overflow: hidden; */
}
/* @media only screen and (max-width: 767px) {
    html {
       background-image: url(https://images.unsplash.com/photo-1547410295-8896a496c27a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    } */

p {
  background-color: rgb(200, 171, 136);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 7px solid;
  border-radius: 15%;
  margin: 15px 15px 30px 30px;
  font-size: x-large;
  font-weight: 100;
  color: rgb(128, 84, 26);
}

ul {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 30px 30px;
  padding: 100px;
  width: 10em;
}
a {
       padding: 15px 15px;
       display: flex;
       flex-direction: column;
    }

li {
  background-color: rgb(200, 171, 136);
  display: flex;

  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  margin: 15px;
  font-size: 1.5em;
}

/* 'https://images.unsplash.com/photo-1620230993314-c64f72103a9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80' */
